.body {

}

.shapes {
    width: 90%;
    height: 350px;
    border-width: 15px;
    border-style: solid;
    margin: 30px auto;
    overflow: hidden;
}

.purpleObj {
    width: 40px;
    height: 100px;
    background-color: purple;
    margin-top: 200px;
    margin-left: 50px;
    display: inline-block;
}

.greenObj {
    width: 400px;
    height: 200px;
    background-color: greenyellow;
    margin-left: 50px;
    display: inline-block;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 50%;
    margin-left: 50px;
    display: inline-block;
}

.middle {
    width: 90%;
    height: 350px;
    border-style: dotted;
    border-width: 15px;
    margin: 30px auto;
}

.plainbox {
    width: 85%;
    height: 275px;
    background-color: tan;
    margin: 39px auto;
    box-shadow: 10px 10px 10px;
}

.hellofriends {
    width: 50%;
    height: 350px;
    border-width: 5px;
    border-style: inset;
    margin: 30px auto;
    text-align: center;
}

h1 {
    text-size-adjust: inherit;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 130px;
}